<div class="row">
<div class="span4 offset4"><h2>Stuff to do</h2></div>
</div>
<div class="row" style="padding-bottom: 10px;">
<%=	link_to "New task", new_task_path, :class => 'btn' %>
<%= link_to "Show tasks for today", today_tasks_path %>
<%= link_to "Export JSON", "tasks.json"  if current_user.account_type == "paid"  %>
</div>
<div class="row">
<table class="table table-striped span12">
  <tr>
    <th style="width: 15%">Title</th>
    <th style="width: 20%">Description</th>
    <th style="width: 20%">Attachment</th>
    <th style="width: 15%">Deadline</th>
    <th style="width: 30%">Actions</th>
  </tr>
   <%= render :partial => @tasks %>
</table>
</div>

